<div class="container rounded bg-light mt-5 text-center">
    <div class="row">
        <div class="col-md-12 mb-3 mt-2">
            <div>
                <span class="mb-3 mt-3 fs-1"><strong>Informazioni</strong></span>
            </div>
            <div class="fs-4">
                <div id="Image" class="mb-1">
                    <img src="Image" alt="Name"/>
                </div>
                <div class="mb-1">
                    <strong>Nome: </strong>
                    <span id="Name"></span>
                </divc>
                <div class="mb-1">
                    <strong>Destinazione: </strong>
                    <span id="Destination"></span>
                </div>
                <div class="mb-1">
                    <strong>Descrizione: </strong>
                    <span id="Description"></span>
                </div>
                <div class="mb-1">
                    <strong>Durata: </strong>
                    <span id="Duration"></span> giorni
                </div>
                <div class="mb-1">
                    <strong>Prezzo: </strong>
                    <span id="Price"></span> &euro; /Persona
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-md-9 mx-auto">
            <div>
                <span class="fs-1"><strong>Contattaci!</strong></span>
            </div>
            <div>
                <form id="form" onsubmit="preventDefault();">
                    <label class="form-label" for="user_name">Nome</label><input class="form-control" id="user_name" type="text" /> <br />
                    <label class="form-label" for="user_surname">Cogome</label><input class="form-control" id="user_surname" type="text" /> <br />
                    <label class="form-label" for="user_message">Messaggio</label><br /><textarea class="form-control" id="user_message"></textarea> <br />
                    <button class="btn btn-success" onclick="send()">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        document.getElementById('form').addEventListener("click",function(event){
            event.preventDefault()
        });

       var url = window.location.pathname;
       var id = url.substring(url.lastIndexOf('/') + 1);
       id = parseInt(id);

       load(id);

        function load(id){
            axios.get('/api/Agenzia/Get/').then((result) => {
                result.data.forEach(viaggio => {
                console.log('Result data =>',result);
                if(viaggio.id==id)
                {
                document.getElementById('Image').innerHTML = `<img src="${viaggio.image}" alt="${viaggio.name}"/>`;
                document.getElementById('Name').innerHTML = viaggio.name;
                document.getElementById('Destination').innerHTML = viaggio.destination;
                document.getElementById('Description').innerHTML = viaggio.description
                document.getElementById('Duration').innerHTML = viaggio.duration;
                document.getElementById('Price').innerHTML = viaggio.price;;
                }
                })
                
            }).catch((error) => {
                console.log("C'è stato un errore: " + error);
            });
        }


        function send(){
            var name = document.getElementById('user_name');
            var surname = document.getElementById('user_surname');
            var message = document.getElementById('user_message');



            var data = {
                packageId : id,
                name : name.value,
                surname : surname.value,
                message : message.value
            }

            axios.post('/api/Agenzia/Message',data);
            console.log(data);

            name.value ="";
            surname.value ="";
            message.value ="";

        }
    </script>
}