@{
    ViewData["Title"] = "Home Page";
}

    <div class="container text-center mt-5">
        <h1 class="display-5 fw-normal">Our amazing tours</h1>
        <div class="mb-4 ">
            <p class="font-description text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit iusto enim ad ea. <br> Expedita, magni illo. Harum dolor, corrupti placeat a velit ipsam repellendus recusandae sit! Obcaecati repellendus sit blanditiis!</p>
        </div>
    </div>
    <div class="container text-center">
        <div class="row justify-content-md-center ">
            <div class="col-3 shadow me-4  rounded " style="padding: 0px 0px 0px 0px!important;  max-width: 300px !important;">
                <img src="https://picsum.photos/id/1061/300/300" alt="Immagine di una spiaggia" class="img-fluid">
                <div class="bg-warning text-light fs-5 text-uppercase pt-1 pb-1">explore the sea</div>
                <div class="pt-2 ps-2 pe-2">
                    <p class="text-muted font-description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</p>   
                </div>             
                    <hr>
                    <div class="text-warning font-description2" style="margin-top: -10px !important;  margin-bottom: 10px !important;">2 days - 2 destination</div>
                    <p class="font-description"><span class="fw-bold">350&euro;</span><span class="text-muted">/person</span></p>
            </div>
            <div class="col-3 shadow me-4  rounded" style="padding: 0px 0px 0px 0px!important;  max-width: 300px !important;">
                <img src="https://picsum.photos/id/15/300/300" alt="Immagine di una cascata in una foresta" class="img-fluid">
                <div class="bg-success text-light fs-5 text-uppercase pt-1 pb-1">hike in the forest</div>
                <div class="pt-2 ps-2 pe-2">
                    <p class=" text-muted font-description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</p>      
                </div>          
                    <hr>
                    <div class="text-success font-description2" style="margin-top: -10px !important;  margin-bottom: 10px !important;">3 days - 2 destination</div>
                    <p class="font-description"><span class="fw-bold">375&euro;</span><span class="text-muted">/person</span></p>
            </div>
            <div class="col-3 shadow me-4  rounded" style="padding: 0px 0px 0px 0px!important; max-width: 300px !important;">
                <img src="https://picsum.photos/id/1036/300/300" alt="Immagine di una vista innevata nelle montagne" class="img-fluid">
                <div class="bg-info text-light fs-5 text-uppercase pt-1 pb-1">camp in the snow</div>
                <div class="pt-2 ps-2 pe-2">
                    <p class=" text-muted font-description">Sed a lacus augue. Duis porta molestie dignissim. Mauris rutrum tempor augue. Morbi molestie vestibulum vestibulum.</p>
                </div>
                    <hr>
                    <div class="text-info font-description2" style="margin-top: -10px !important; margin-bottom: 10px !important;">2 days - 1 destination</div>
                    <p class="font-description"><span class="fw-bold">400&euro;</span><span class="text-muted">/person</span></p>
            </div>
        </div>
    </div>